:root {
    --primar: #4e4e4e;
    --shadow: #7c7c7c;
    --navbar-clr: #363636;
    --white: #fff;
    --black: #000;
    --pi-border: #331a1a;
    --text-border: #836767;
    --pi-bg1: #463737;
    --pi-bg2: #352626;
    --fb-clr: #3b5998;
    --tw-clr: #1DA1F2;
    --gh-clr: #333;
}

html {
    height: 100%;
    
}

body {
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
}

ul#navbar {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primar);
    box-shadow: 0px 3px 4px var(--shadow);
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
}
  
li {
    float: left;
  }
  
.navbar {
    font-size: 1rem;
    display: inline-block;
    position: relative;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Staatliches', cursive;
}

.navbar::after {
    content: '';
    position: absolute;
    width: 0%;
    top: 0;
    bottom: 2.75em;
    left: 0;
    right: 0;
    background: var(--white);
}

.navbar-dropdown {
    text-decoration: none;
    color: var(--white);
    padding: 14px 16px;
    display: none;
}

.nav-toggle {
    display: none;
}

.navbar:hover::after, .navbar:focus::after {
    animation: navbar_after 0.5s forwards;
}

.clock {
    display: inline-block;
    font-family: 'Staatliches', cursive;
    padding: 14px 16px;
    color: var(--white);
}

#background {
    background-image: url("minas-tirith.jpg");
    background-position: center;
    margin: -23px;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    filter: blur(8px);
    height: 115%;
    width: 115%;
}

#index_button {
    display: grid;
    height: 2em;
    width: 4em;
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    border: var(--pi-border) 10px solid;
    background: var(--pi-bg2);
    color: var(--white);
    place-items: center;
    align-items: center;
    z-index: 1;
    
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -0.2em;
    margin-left: -2.2em;
}

#index_button::after {
    content: '';
    position: absolute;
    width: 0%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--pi-bg1);
    z-index: -1;
}

#index_button:hover::after, #pre-index_button:focus::after {
    animation: index_animation 1s forwards;
}

#index_text {
    height: 2em;
    width: 36.25em;
    font-size: 55px;
    text-shadow: 0px 5px 2.5px var(--shadow);
    color: var(--white);
    display: grid;
    position: fixed;
    font-family: 'Pacifico', cursive;
    width: max-content;

    border-block: var(--text-border) 2px dashed;

    top: 50%;
    left: 50%;
    margin-top: -3em;
    margin-left: -5.25em;
}

.icons {
    font-size: 2em;
    position: relative;
    color: var(--white);
    text-decoration: none;
}

.names {
    font-size: 1em;
    position: relative;
    color: var(--white);
    text-decoration: none;
}

.icons-container {
    display: flex;
    justify-content: space-evenly;
}

#fb, #tw, #gh {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fa-facebook-square:hover, .fa-facebook-square:focus {
    animation: fb 0.2s forwards;
}

.fa-twitter-square:hover, .fa-twitter-square:focus {
    animation: tw 0.2s forwards;
}

.fa-github-square:hover, .fa-github-square:focus {
    animation: gh 0.2s forwards;
}

footer {
    background: var(--shadow);
    padding: 2em;
    margin: -1em;
    margin-top: auto;
}

@keyframes fb {
    to {color: var(--fb-clr);}
}

@keyframes tw {
    to {color: var(--tw-clr);}
}

@keyframes gh {
    to {color: var(--gh-clr);}
}

@keyframes navbar_after {
    from {width: 0%;}
    to {width: 100%;}
}

@keyframes index_animation {
    from {width: 0%;}
    to {width: 100%;}
}

@media only screen and (max-width: 40em) {
    #index_text {
        text-align: center;
        line-height: 1.5;
        width: 4em;
        height: 4.5em;
        top: 50%;
        left: 50%;
        margin-top: -5em;
        margin-left: -2em;
    }
}

@media only screen and (max-width: 34rem) and (orientation: portrait) {
    #navbar-shrink {
        display: none;
    }

    .nav-toggle:checked ~ #navbar-shrink {
        display: grid;
        justify-items: left;
        position: relative;
        top: 0;
        left: 0;
    }

    .navbar-dropdown {
        display: inline-block;
    }
}
