@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
    --primar: #000;
    --shadow: #7c7c7c;
    --white: #fff;
    --black: #000;
    --pi-border: #7c7c7c;
    --text-border: #a0a0a0;
    --pi-bg1: rgb(32, 32, 32);
    --pi-bg2: #000;
    --fb-clr: #3b5998;
    --tw-clr: #1DA1F2;
    --gh-clr: #333;
    --index-clr: #444;
    --bg1-clr: #575757;
    --bg2-clr: #757373;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;

    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: 'Staatliches', cursive;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    margin: 0 1em;
}

#about, #projects {
    display: block;
    text-align: left;
}

#experiences {
    display: block;
    text-align: right;
}

#title {
    margin: 2.5em 0 0 0;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    inset: 0;
}



.navbar {
    position: fixed;
    width: 100vw;
    background-color: var(--primar);
    z-index: 3;
}

.navbar--shrink {
    display: inline;
}

.navbar--item {
    width: fit-content;
    font-size: 1rem;
    display: inline-block;
    position: relative;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Staatliches', cursive;
}

.navbar--clock_item {
    float: left;
    float: right;
    font-family: 'Staatliches', cursive;
    padding: 14px 16px;
    color: var(--white);
}

.navbar--bars {
    color: var(--white);
    display: none;
}

.navbar--item::after {
    content: '';
    position: absolute;
    width: 0%;
    top: 0;
    bottom: 2.5em;
    left: 0;
    right: 0;
    background: var(--white);
}

.navbar--item:hover::after, .navbar--item:focus::after {
    animation: navbar_after 0.5s forwards;
}


  
li {
    float: left;
}

.parallax1, .parallax2 {
    min-height: 17em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    background-image: url("../imgs/eärendilVsAncalagon.jpeg");
}

.parallax2 {
    background-image: url("../imgs/programmingLanguages.jpeg");
}



.index--clock {
    display: flex;
    justify-content: space-between;
}

.index--main {
    text-align: center;
    margin: auto;
}

.index--button {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    font-family: 'Staatliches', cursive;
    font-size: 4rem;
    border: var(--pi-border) 10px solid;
    background-color: var(--pi-bg2);
    color: var(--white);
}

.index--button:hover, .index--button:focus {
    animation: index_animation 0.5s forwards;
}

.index--text {
    font-size: 5rem;
    color: var(--white);
    letter-spacing: 5px;
    font-family: 'Staatliches', sans-serif;
}



.icons {
    font-size: 2em;
    position: relative;
    color: var(--white);
    text-decoration: none;
}

.names {
    font-family: 'Staatliches', cursive;
    font-size: 1em;
    position: relative;
    color: var(--white);
    text-decoration: none;
}

.icons-container {
    display: flex;
    justify-content: space-evenly;
}

#fb, #tw, #gh {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.facebook:hover, .facebook:focus {
    animation: fb 0.2s forwards;
}

.twitter:hover, .twitter:focus {
    animation: tw 0.2s forwards;
}

.github:hover, .github:focus {
    animation: gh 0.2s forwards;
}

.footer {
    background: var(--primar);
    padding: 20px;
    font-family: 'Staatliches', cursive;  
}

@keyframes fb {
    100%{
        color: var(--fb-clr);
    }
}

@keyframes tw {
    100%{
        color: var(--tw-clr);
    }
}

@keyframes gh {
    100%{
        color: var(--gh-clr);
    }
}

@keyframes navbar_after {
    100%{
        width: 100%;
    }
}

@keyframes index_animation {
    100% {
        background-color: var(--gh-clr);
    }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    .navbar--bars {
        padding: 14px 16px;
        width: fit-content;
        font-size: 1rem;
        display: block;
    }

    .navbar--item:hover::after, .navbar--item:focus::after {
        animation: none;
    }

    .navbar--shrink {
        display: none;
    }

    section {
        background-color: var(--white);
    }
}

@media only screen and (min-width: 825px) {
    section {
        margin-inline: 100px;
        background: var(--white);
        padding-inline: 10px;
    }

    .parallax1, .parallax2, .parallax3 {
        margin-inline: 100px;
    }

    body {
        background: var(--bg1-clr);;
    }
}

@media only screen and (min-width: 1020px) {
    section {
        margin-inline: 200px;
        padding-inline: 10px;
        background-color: var(--white);
    }

    .parallax1, .parallax2, .parallax3 {
        margin-inline: 200px;
    }
}