/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/*Colors*/
[data-theme="light"] {
    --bg1-clr: #575757;
    --bg2-clr: #757373;
    --gl-clr: #fc6d27;
    --in-clr: #0e76a8;
    --gh-clr: #333;
    --index-clr: #444;
    --pi-bg1: #202020;
    --pi-bg2: #000;
    --pi-border: #7C7C7C;
    --primary: #111;
    --shadow: #7C7C7C;
    --text-border: #a0a0a0;
    --white: #ddd;
}

[data-theme="dark"] {
    --bg1-clr: #575757;
    --bg2-clr: #757373;
    --gl-clr: #fc6d27;
    --in-clr: #0e76a8;
    --gh-clr: #333;
    --index-clr: #444;
    --pi-bg1: #202020;
    --pi-bg2: #000;
    --pi-border: #7C7C7C;
    --primary: #ddd;
    --shadow: #7C7C7C;
    --text-border: #a0a0a0;
    --white: #111;
}

/*Generic setting*/
* {
    font-family: 'Staatliches', Georgia, Times, serif;
    color: var(--white);
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(48deg, var(--bg1-clr) 0%, var(--primary) 100%);
    margin: 0;
    min-height: 100vh;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    color: var(--primary);
}

a {
    word-spacing: 5px;
    text-decoration: none;
}

i {
    color: var(--white);
}

/*Nonspecific*/
.left-text {
    display: block;
    padding: 25px;
    text-align: left;
}

.right-text {
    display: block;
    padding: 25px;
    text-align: right;
}

.title1 {
    font-size: 3rem;
    margin: 2.5rem 0 0 0;
    color: var(--primary);
}

.title2 {
    color: var(--primary);
}

.mode {
    padding: 14px 16px;
    cursor: pointer;
}

/*Navbar*/
.navbar {
    position: fixed;
    width: 100vw;
    background-color: var(--primary);
    z-index: 3;
}

.navbar--clock {
    display: inline;
    float: right;
}

.navbar--clock_item {
    padding: 14px 16px;
    float: right;
    font-family: 'Staatliches', cursive;
    color: var(--white);
}

.navbar--time {
    width: 35px;
}

.navbar--cutter {
    display: none;
}

.navbar--item {
    display: inline-block;
    position: relative;
    padding: 14px 16px;
    width: fit-content;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 1rem;
    color: var(--white);
}

.navbar--item::after {
    position: absolute;
    inset: 0;
    top: -10%;
    bottom: 100%;
    border-radius: 35%;
    background: var(--white);
    content: '';
    transition: all 125ms ease-in;
}

.navbar--item:hover::after,
.navbar--item:focus::after {
    bottom: 80%;
}

/*Burger menu*/
.navbar--burger {
    display: none;
}

.navbar--burger__button {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    border-radius: 2.5px;
    transition: all 0.25s ease-in-out;
}

.navbar--burger__button::before,
.navbar--burger__button::after {
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: var(--white);
    border-radius: 2.5px;
    transition: all 0.25s ease-in-out;
    content: '';
}

.navbar--burger__button::before {
    transform: translateY(-8px);
}

.navbar--burger__button::after {
    transform: translateY(8px);
}

.navbar--burger.open .navbar--burger__button {
    transform: translate(-25px);
    background-color: transparent;
}

.navbar--burger.open .navbar--burger__button::before {
    transform: rotate(45deg) translate(17.5px, -17.5px);
}

.navbar--burger.open .navbar--burger__button::after {
    transform: rotate(-45deg) translate(17.5px, 17.5px);
}

/*Parallax effect*/
.parallax1,
.parallax2 {
    min-height: 17em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    background-image: url("../img/eärendilVsAncalagon.jpeg");
}

.parallax2 {
    background-image: url("../img/programmingLanguages.jpeg");
}

/*Index page*/
.index--main {
    margin: auto;
    text-align: center;
}

.index--clock {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

.index--text {
    font-family: 'Staatliches', sans-serif;
    font-size: 5rem;
    color: var(--white);
    letter-spacing: 5px;
}

.index--button {
    padding: 10px;
    width: fit-content;
    height: fit-content;
    font-family: 'Staatliches', cursive;
    font-size: 4rem;
    color: var(--white);
    background-color: var(--pi-bg2);
    border: var(--pi-border) 10px solid;
}

.index--button:hover,
.index--button:focus {
    animation: index_animation 0.5s forwards;
}

/*Footer*/
.footer {
    padding: 20px;
    font-family: 'Staatliches', cursive;  
    background: var(--primary);
}

.footer--icons {
    display: flex;
    justify-content: space-evenly;
}

.icon {
    position: relative;
    font-size: 2em;
    color: var(--white);
}

.icon-names {
    position: relative;
    font-family: 'Staatliches', cursive;
    font-size: 1em;
    color: var(--white);
}

.gitlab,
.linkedin,
.github {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.gitlab:hover,
.linkedin:hover,
.github:hover {
    transform: scale(115%);
    transition: transform 0.25s ease;
}

.gitlab:hover *,
.gitlab:focus * {
    color: var(--gl-clr);
}

.linkedin:hover *,
.linkedin:focus * {
    color: var(--in-clr);
}

.github:hover *,
.github:focus * {
    color: var(--gh-clr);
}

.copyright--text {
    margin-bottom: 0;
    text-align: center;
    color: var(--white);
}

/*Animations*/
@keyframes index_animation {
    100% {
        background-color: var(--gh-clr);
    }
}

/*Responsivitzy*/
@media only screen and (max-width: 600px) and (orientation: portrait) {
    .navbar--burger {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        position: relative;
        width: 40px;
        height: 40px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
    }

    .navbar--item:hover::after,
    .navbar--item:focus::after {
        animation: none;
    }

    .navbar--shrink {
        display: none;
    }

    .navbar--item::after {
         display: none;
    }

    section {
        width: 100vw;
        background: var(--white);
    }
}

@media only screen and (min-width: 600px) {
    section {
        margin-inline: 50px;
        padding-inline: 5px;
        background: var(--white);
        height: 100vh;
    }

    .parallax1,
    .parallax2,
    .parallax3 {
        margin: -5px;
    }

    .navbar--shrink {
        display: inline;
    }
}

@media only screen and (min-width: 825px) {
    section {
        margin-inline: 100px;
        padding-inline: 10px;
        background: var(--white);
        height: 100vh;
    }

    .parallax1,
    .parallax2,
    .parallax3 {
        margin: -10px;
    }

    .navbar--shrink {
        display: inline;
    }
}

@media only screen and (min-width: 1020px) {
    section {
        margin-inline: 200px;
        padding-inline: 20px;
        background-color: var(--white);
        height: 100%;
    }
    
    .navbar--shrink {
        display: inline;
    }

    .parallax1,
    .parallax2,
    .parallax3 {
        margin-inline: -20px;
    }
}